<div class="container">
  <h1>Decimal to Binary</h1>
  <div class="form">
    <div class="numbers-form">
      <form>
        <div class="text-input">
          <span [ngClass]="{'complete': numberToBinary !== null}">
            <input type="number" name="numbers" id="numbers"
                   placeholder="Numbers to Binary" [(ngModel)]="numberToBinary">
          </span>
        </div>
<!--        <button type="submit" (click)="toBinary()">Binary</button>-->
        <app-custom-button [text]="'Binary'" (click)="toBinary()" type="submit"></app-custom-button>
      </form>
    </div>
    <div class="numbers-container" [@numbers]="numbers.length">
      <table>
        <thead>
          <th>Numbers</th>
          <th>Binary</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of numbers; let i = index" (click)="remove(i)">
            <td>{{item.insertednumber}}</td>
            <td>{{item.binarynumber}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

