<div class="inputs">
  <h1>Matrix multiplication</h1>
  <div class="matrix-inputs-container">
    <form class="example-form">
      <div class="matrix">
        <label>Matrix A</label>
        <div>
          <label>Columns</label>
          <div class="text-input">
            <span [ngClass]="{'complete': sizeXA !== null}">
              <input type="number" placeholder="Insert number" name="sizeXA" [(ngModel)]="sizeXA">
            </span>
          </div>
        </div>
        <div>
          <label>Rows</label>
          <div class="text-input">
            <span [ngClass]="{'complete': sizeYA !== null}">
              <input type="number" placeholder="Insert number" name="sizeYA" [(ngModel)]="sizeYA">
            </span>
          </div>
        </div>
      </div>
      <div class="matrix">
        <label>Matrix A</label>
        <div>
          <label>Columns</label>
          <div class="text-input">
            <span [ngClass]="{'complete': sizeXB !== null}">
              <input type="number" placeholder="Insert number" name="sizeXB" [(ngModel)]="sizeXB">
            </span>
          </div>
        </div>
        <div>
          <label>Rows</label>
          <div class="text-input">
            <span [ngClass]="{'complete': sizeYB !== null}">
              <input type="number" placeholder="Insert number" name="sizeYB" [(ngModel)]="sizeYB">
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <h1 class="error" *ngIf="error">{{msgError}}</h1>
  <app-custom-button [text]="'Create'" (click)="createMatrix()" type="submit"></app-custom-button>

</div>
<div *ngIf="showMatriz" class="resultcontainer">
  <div class="matriz">
    <div class="inputs">
      <table>
        <tr *ngFor="let y of matrixA; let posY = index">
          <td *ngFor="let x of y; let posX = index">
            <div class="text-input">
              <span [ngClass]="{'complete': x !== null && x !== undefined}">
                <input type="number" [placeholder]="posY + ' - ' + posX" [name]="posY + ' - ' + posX" [(ngModel)]="matrixA[posY][posX]">
              </span>
            </div>
          </td>
        </tr>
      </table>
      <table>
        <tr *ngFor="let y of matrixB; let posY = index">
          <td *ngFor="let x of y; let posX = index">
            <div class="text-input">
              <span [ngClass]="{'complete': x !== null && x !== undefined}">
                <input type="number" [placeholder]="posY + ' - ' + posX" [name]="posY + ' - ' + posX" [(ngModel)]="matrixB[posY][posX]">
              </span>
            </div>
          </td>
        </tr>
      </table>

    </div>
  </div>
  <!--  <button class="multiply" type="submit" (click)="multiply()">Multiplicar</button>-->
  <app-custom-button [text]="'Multiply'" (click)="multiplyButton()" type="submit"></app-custom-button>
  <div class="result" *ngIf="result">
    <table>
      <tr *ngFor="let y of matrixResult">
        <td *ngFor="let x of y">
          <div class="text-input">
            <span>
              {{x}}
            </span>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
