.inputs {
  text-align: center;
  margin: 2rem auto auto;
  font-size: 1.4rem;

  .matrix-inputs-container {
    margin: auto;
    width: 35vw;
    form{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      div  {
        margin: 10px 10px 15px;
      }
      .matrix {
        margin-top: 20px;
      }
      .text-input {
        margin: 0;
      }
    }
  }
  .error {
    color: red;
    font-size: 2rem;
    padding: 10px;
  }

  button {
    padding: 1rem 2rem;
  }
}

.resultcontainer {
  display: flex;
  align-items: center;

  .matriz {
    margin: 40px;
    display: inline-flex;

    .inputs {
      display: inline-flex;
      margin: 40px;
    }

    .result table tr td {
      padding: 20px;
    }
  }
  .multiply {
    margin: 0 80rem;
    display: block;
  }
}

table {
  margin: 0 20px;
  td {
    border: 2px solid white;
    padding: 1rem;
  }

  tr td {
    height: 30px;
    width: 30px;
    max-width: 100px;
    input {
      max-width: 80px;
    }
  }
}
