.inputs {
  text-align: center;
  margin: auto;
  font-size: 1.4rem;

  div {
    margin: 30px;
    form{
      width: 200px;
      display: inline-grid;
      mat-form-field input::-webkit-outer-spin-button,
      mat-form-field input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
  }
  .error {
    color: red;
    font-size: 2rem;
    padding: 10px;
  }

  button {
    padding: 1rem 2rem;
  }
}

.resultcontainer {
  .matriz {
    margin: 40px;
    display: inline-flex;
    table {
      td {
        border: 2px solid black;
        padding: 1rem;
      }
    }
    .inputs {
      display: inline-flex;
      margin: 40px;
      table {
        margin: 0 20px;

        tr td {
          height: 30px;
          width: 30px;
        }
      }
    }

    .result table tr td {
      padding: 20px;
    }
  }
  .multiply {
    margin: 0 80rem;
    display: block;
  }
}
