$border-radius: 10px;

.container {
  padding: 20px;

  h1 {
    margin-bottom: 10px;
  }
}

ul {
  padding-left: 0;

  .no-products {
    text-align: center;
    margin-top: 30px;
  }

  li {
    list-style-type: none;
  }
}


.card {
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 16px;
  height: 120px;
  background-color: var(--tertiary-color);
  border-radius: $border-radius;

  .card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    padding: 10px 0;
    background-color: white;
    border-radius: $border-radius 0 0 $border-radius;

    img {
      max-height: 50px;
      max-width: 100px;
    }
  }

  .card-info {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;

    h1, h2{
      color: var(--primary-text-color);
      margin: 5px;
    }

    span {
      color: var(--primary-text-color);
    }

    h1::first-letter, h2::first-letter{
      text-transform: capitalize;
    }

    h1 {
      font-size: 1.6rem;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: normal;
    }

    .close {
      margin-right: 5px;
      cursor: pointer;
      padding: 5px;
      display: flex;
      justify-content: flex-end;
    }

    .price-amount-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .amount, div {
        display: flex;
        align-items: center;


        button {
          background-color: transparent;
          border-radius: 5px;
          height: 20px;
          width: 20px;
          color: var(--primary-text-color);
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
        }

        button:nth-child(1) {
          border-right: 1px solid var(--primary-text-color);

        }

        button:nth-child(3) {
          border-left: 1px solid var(--primary-text-color);
        }

        div {
          height: 20px;
          border: 1px solid var(--primary-text-color);
          border-radius: 5px;

          h2 {
            padding: 5px;
            font-weight: bold;
          }
        }

        button:hover {
          background-color: var(--secondary-color);
          outline: 1px solid var(--primary-text-color);
        }

        button:disabled {
          cursor: no-drop;
        }
      }
    }
  }
}

/*.card:hover {
  box-shadow: 0 1px 3px 0 var(--primary-text-color);
  border: 1px solid lightgray;
}*/
