<div>
  <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-center">
    <li ngbDropdown class="nav-item">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>NEWBIE</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem routerLink="stringreverser">Manual String Reverser</button>
        <button ngbDropdownItem routerLink="decimaltobinary">Decimal to Binary</button>
      </div>
    </li>
    <li ngbDropdown class="nav-item">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>BEGGINER</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem>Sentence Generator</button>
        <button ngbDropdownItem>Matrix Multiplicator</button>
        <button ngbDropdownItem>Search within a String</button>
      </div>
    </li>
    <li ngbDropdown class="nav-item">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>INTERMEDIATE</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem>TO-DO App</button>
        <button ngbDropdownItem>Quiz App</button>
        <button ngbDropdownItem>Note App</button>
        <button ngbDropdownItem>Music Player</button>
        <button ngbDropdownItem>Currency Converter</button>
        <button ngbDropdownItem>Speed Typing Test</button>
      </div>
    </li>
    <li ngbDropdown class="nav-item">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>ADVANCED</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem>Real-Time Chat</button>
        <button ngbDropdownItem>E-Commerce App</button>
        <button ngbDropdownItem>Chess Game</button>
        <button ngbDropdownItem>Online Document Editor</button>
      </div>
    </li>
    <li ngbDropdown class="nav-item">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>EXPERT</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem>Trading Bot</button>
        <button ngbDropdownItem>Netflix</button>
        <button ngbDropdownItem>Fake News Detector</button>
      </div>
    </li>
  </ul>

</div>
<router-outlet></router-outlet>
