.container {
  width: 100vw;
  text-align: center;
  padding-top: 2rem;

  .form {
    text-align: center;
    font-size: 1.2rem;
    border: 2px solid var(--secondary-color);
    margin: 2rem auto auto;
    height: 100%;
    background-color: var(--background-color-color);
    padding: 2em 2rem;

    .word-form {
      padding: 1.5em 2rem;
      form {
        display: flex;
        align-items: center;
        justify-content: center;

        .text-input {
          margin-right: 2rem;
        }
      }
    }

    tr{
      border: 1px solid var(--secondary-color);
    }

    td {
      padding: 1rem;
    }

    .words-container table {
      width: 100%;
    }
  }

}
