.container{
  text-align: center;
  margin: 2rem auto auto;

  app-custom-button {
    padding: 20px;
    font-size: 1.5rem;
  }

  ul li {
    text-align: left;
    font-size: 2rem;
    list-style-type: none;
  }
}
