.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 14px 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 0 20px;
  text-decoration: none;

  li {
    list-style-type: none;

    app-card {
      cursor: pointer;
    }
  }
}

.lds-roller {
  left: 30%;
}
